UAPP_Faculty_Credentials_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -80
      ],
      "id": "37b78be5-eae8-46e8-9a90-5df4559ed294",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY",
          "mode": "list",
          "cachedResultName": "n8n sample sheet to send email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -80
      ],
      "id": "97432f8c-bf5b-4edf-957f-0bfc3cc7da4b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BOoz8zKrEmSzjyaD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd048f44-3eec-46ad-bc26-4e4bbb30859c",
              "leftValue": "credentials_sent",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        64
      ],
      "id": "ab25bdcd-4d37-48a6-ad3e-056c383aaffb",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "Your Login Credentials",
        "emailType": "text",
        "message": "=Hello {{ $json[\"name\"] || \"Faculty Member\" }},  Your UAPP Admin credentials are: ID: ADMIN123 Password: XyZ123!@#  Login here: https://uapp.example.com/admin  Regards, UAPP Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        -80
      ],
      "id": "ebe84c30-59dc-41e8-bf06-ce37d0647eef",
      "name": "Send a message",
      "webhookId": "777b0b44-5430-4ec7-9ace-b9c37d3f235c",
      "credentials": {
        "gmailOAuth2": {
          "id": "5I5s4aew2LOctHUu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY",
          "mode": "list",
          "cachedResultName": "n8n sample sheet to send email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1aKt8jAJ7UIJNJIbXx6HSaWsS6vxXbcCxeeFQOyGwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "credentials_sent": "TRUE",
            "sent_date": "={{ $now }}",
            "error_message": "''",
            "email": "={{ $('If').item.json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "credentials_sent",
              "displayName": "credentials_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -80
      ],
      "id": "9f813c90-563c-434a-b6bd-5fbda27ca2fa",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BOoz8zKrEmSzjyaD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9212536-06aa-4425-b40f-0ecc7c978bc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0221b8cc30a49c57e4b23fad6dde68c9cd908aae857b6cd2e2a29adf0855fd2a"
  },
  "id": "KFsEDTYsp0Me117f",
  "tags": []
}